<h1>Merci de confirmer votre e-mail</h1>

<p>
    Merci de confirmer votre e-mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon e-mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très vite !
</p>