{% extends 'base.html.twig' %}

{% block title %}Erreur 401 {% endblock %}

{% block body %}
    <div class="text-center"></div>
    <div class="text-center">
        <div class="text-center">
            <h1>Erreur 401 !</h1>
        </div>
        <h2>Nous ne disposez pas des autorisations requises pour accéder à cette page</h2>
        <a href="{{ path('security_login')}}" class="btn btn-primary rounded">Retourner à la page de connexion</a>
    </div>
{% endblock %}